In [ ]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [ ]:
#importar la librería pandas 
import pandas as pd

print(pd.__version__)    #imprime su versión actual

1.3.5

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series. 
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [ ]:
datos = [2, 3, 5, 7, 11]   # Crea una lista llamada datos con los valores 2, 3, 5, 7 y 11
serie = pd.Series(datos)    # Crea una serie llamada serie a partir de la lista datos
print(serie)    # Imprime la serie serie
print("Tamaño de la Serie:", serie.size)    # Imprime el tamaño de la serie serie

0     2
1     3
2     5
3     7
4    11
dtype: int64
Tamaño de la Serie: 5

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [ ]:
 datos = serie.tolist()   # Convierte la serie en una lista y la asigna a la variable datos
print(datos)      # Imprime la lista datos
print("Tipo de lista:", type(datos))     # Imprime el tipo de datos de la variable datos, que debería ser una lista

[2, 3, 5, 7, 11]
Tipo de lista: <class 'list'>

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [ ]:
 #"Este código crea dos series de números y realiza operaciones aritméticas básicas entre ellas, como suma, resta, multiplicación y división."
serie1 = pd.Series([1, 2, 3, 4, 5])   # Crea una serie llamada serie1 con los valores 1, 2, 3, 4 y 5
serie2 = pd.Series([9, 8, 7, 6, 5])    # Crea una serie llamada serie2 con los valores 9, 8, 7, 6 y 5

suma = serie1 + serie2  # Realiza la suma elemento a elemento de las dos series, creando una nueva serie llamada suma          
print(suma)     # Imprime la serie suma

resta = serie1 - serie2        # Realiza la resta elemento a elemento de las dos series, creando una nueva serie llamada resta       
print("Resta:", resta)        #imprime la serie de la resta

multiplicacion = serie1 * serie2            # Realiza la multiplicación elemento a elemento de las dos series, creando una nueva serie llamada multiplicacion
print("Multiplicación:", multiplicacion)     #imprime la serie de la multiplicacion

division = serie1 / serie2           # Realiza la multiplicación elemento a elemento de las dos series, creando una nueva serie llamada division
print("División:", division)         #imprime la serie de la divisioon

0    10
1    10
2    10
3    10
4    10
dtype: int64
Resta: 0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64
Multiplicación: 0     9
1    16
2    21
3    24
4    25
dtype: int64
División: 0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [ ]:
serie1 = pd.Series([1, 2, 3, 5, 7])   # Crea una serie con los valores 1, 2, 3, 5 y 7
serie2 = pd.Series([13, 17, 11, 5, 3])   # Crea otra serie con los valores 13, 17, 11, 5 y 3

menor_que = serie1 < serie2          # Realiza una comparación elemento a elemento de ambas series, devolviendo una serie booleana con True donde el elemento de serie1 es menor que el correspondiente elemento de serie2
print("Menor que:", menor_que)    # Imprime la serie de booleanos

mayor_que = serie1 > serie2          # Realiza una comparación elemento a elemento de ambas series, devolviendo una serie booleana con True donde el elemento de serie1 es mayor que el correspondiente elemento de serie2
print("Mayor que:", mayor_que)         # Imprime la serie de booleanos

igual_a = serie1 == serie2           # Realiza una comparación elemento a elemento de ambas series, devolviendo una serie booleana con True donde el elemento de serie1 es igual al correspondiente elemento de serie2
print("Igual a:", igual_a)            # Imprime la serie de booleanos

distinto_de = serie1 != serie2         # Realiza una comparación elemento a elemento de ambas series, devolviendo una serie booleana con True donde el elemento de serie1 es diferente al correspondiente elemento de serie2
print("Distinto de:", distinto_de)     # Imprime la serie de booleanos

Menor que: 0     True
1     True
2     True
3    False
4    False
dtype: bool
Mayor que: 0    False
1    False
2    False
3    False
4     True
dtype: bool
Igual a: 0    False
1    False
2    False
3     True
4    False
dtype: bool
Distinto de: 0     True
1     True
2     True
3    False
4     True
dtype: bool

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [ ]:
import pandas as pd    # Importa la librería pandas y la renombra como pd

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}   # Crea un diccionario con cuatro pares clave-valor

serie_datos = pd.Series(datos)       # Crea una serie a partir del diccionario, tomando las claves como índices y los valores como eleme
print(serie_datos['c'])       # Imprime el valor del elemento con índice 'c' en la serie

30

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [ ]:
#Crea un array NumPy 
import numpy as np      # Importa la librería numpy y la renombra como np
import pandas as pd      # Importa la librería pandas y la renombra como pd
vector = np.array([1, 2, 3, 4, 5])       # Crea un vector unidimensional con los valores 1, 2, 3, 4 y 5 utilizando la función np.array() de numpy
series = pd.Series(vector)          # Crea una serie a partir del vector, tomando los valores como elementos y asignando índices numéricos de forma automática
print(series)       # Imprime la serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Conviertelo en un objeto Series.
import numpy as np    # Importa la librería numpy y la renombra como np
import pandas as pd      # Importa la librería pandas y la renombra como pd
arr = np.array([1, 2, 3, 4, 5])    # Crea un arreglo unidimensional con los valores 1, 2, 3, 4 y 5 utilizando la función np.array() de numpy
series = pd.Series(arr)      # Crea una serie a partir del arreglo, tomando los valores como elementos y asignando índices numéricos de forma automática
print(series)           # Imprime la serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [10]:
import pandas as pd

# Creamos la serie de strings
datos = pd.Series(['100', '200', '', '300.15', '500.8'])

# Utilizamos el método astype() para convertir los valores de la serie a float
datos = datos.astype(float)

# Imprimimos ambas series para compararlas
print("Serie original:")
print(datos)
print("Serie convertida:")
print(datos)

ValueError: ignored

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [8]:
serie = ['nombre_columna']    #esta crea una serie con el valor nombre de colomna
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}   #Luego, se define un diccionario llamado datos que tiene tres claves ("A", "B", "C") y cada clave tiene una lista de cinco elementos como valor.

df = pd.DataFrame(data=datos)      #se utiliza el método pd.DataFrame() de la biblioteca Pandas para crear un DataFrame llamado df a partir del diccionario datos. El DataFrame tendrá tres columnas ("A", "B", "C") y cinco filas.
serie = ['nombre_columna']
print(serie)      #Después se imprime el contenido de la lista serie utilizando la función print().
df

['nombre_columna']

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [ ]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [ ]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

serie

0       1.1
1    Python
2       0.5
3    pandas
4       2.8
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [ ]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie

0    Python
1        C#
2       C++
3      Java
4       PHP
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [ ]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [ ]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [ ]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [ ]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [ ]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [ ]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0       2.3
1    Python
2        90
3       100
4       NaN
5       0.5
6        .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [ ]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6       NaN
dtype: object